<style>
  #title-cp {

    text-align: center;

    color: red;

    /*border: 3px solid red;

    border-radius: 50%;*/

    padding: 3%;

  }

  #cambio-contraseña {

    display: flex;

    flex-direction: column;

    justify-content: center;

    align-items: center;

    justify-items: center;

    /* border: 1px solid black; padding-top: 3%; */

    padding-bottom: 3%;

  }

  #cambio-contraseña input {

    margin-top: 3%;

    display: block;

  }

  #cambio-contraseña label {

    margin-top: 3%;

    display: block;

  }
</style>
<div>

  <h3 id="title-cp">

    Cambio de Contraseña

  </h3>

  <div class="center">
    <div id="cambio-contraseña">
      <label style="font-size: 15px;">
        Ingresa la Nueva Contraseña
      </label>
      <input type="password" required="required" [(ngModel)]="nueva" id="nueva" minlength="5">
      <label style="font-size: 15px;">
        Repita la nueva Contraseña
      </label>
      <input type="password" required="required" [(ngModel)]="nuevarepetida" id="nuevarepetida" minlength="5">
      <input type="submit" (click)="SetUpdateClave()" class="btn btn-primary">
      <div role="alert" *ngIf="error">
        <strong style="color:red; font-size: 15px">{{messageError}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    </div>

  </div>
</div>
