#columna1 {
    /*position: absolute;*/
    /*margin-left: 100px;*/
    /*margin-right: 20px;*/
    padding-top: 10px;
  }

  #columna2 {
    /*margin-left: 220px;
    margin-right: 20px;*/
    padding-top: 10px;
  }