<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="SoftvSection" type="SoftvConfiguration.SoftvSection, SoftvConfiguration"/>
  </configSections>
  <connectionStrings>

    <!--<add name="ConnectionString" connectionString="Server=172.16.126.44;Database=SoftvNew;User Id=sa;Password=0601x-2L;" providerName="System.Data.SqlClient"/>
    <add name="ConnectionStringFailover" connectionString="Server=172.16.126.44;Database=SoftNew;User Id=sa;Password=0601x-2L;" providerName="System.Data.SqlClient"/>-->
    
    <!--<add name="ConnectionString" connectionString="Server=JANO-PC\SQL2014;Database=SoftvNew;User Id=sa;Password=06011975;" providerName="System.Data.SqlClient"/>
    <add name="ConnectionStringFailover" connectionString="Server=JANO-PC\SQL2014;Database=SoftNew;User Id=sa;Password=06011975;" providerName="System.Data.SqlClient"/>-->
    
    <!--publicación-->
    <add name="ConnectionString" connectionString="Server=172.16.126.51;Database=SoftvNew;User Id=sa;Password=0601x-2L;" providerName="System.Data.SqlClient"/>
    <add name="ConnectionStringFailover" connectionString="Server=172.16.126.51;Database=SoftNew;User Id=sa;Password=0601x-2L;" providerName="System.Data.SqlClient"/>

  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <add key="NoRegisterInBitacoraModules" value="BITACORA,MODULE"/>
    <add key="NoRegisterInBitacoraStartWith" value="GET"/>
    <add key="wcf:serviceHostingEnvironment:useClassicReadEntityBodyMode" value="true" />
  </appSettings>
  <system.web>
    <compilation targetFramework="4.5" debug="true"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="ServiceBehaviour" name="SoftvWCFService.SoftvWCFService">
        <endpoint address="Usuario" behaviorConfiguration="web" binding="webHttpBinding" bindingConfiguration="Binding" contract="SoftvWCFService.Contracts.IUsuario" />
        <endpoint address="Session" behaviorConfiguration="web" binding="webHttpBinding" bindingConfiguration="Binding" contract="SoftvWCFService.Contracts.ISession" />
        <endpoint address="Module" behaviorConfiguration="web" binding="webHttpBinding" bindingConfiguration="Binding" contract="SoftvWCFService.Contracts.IModule" />
        <endpoint address="Role" behaviorConfiguration="web" binding="webHttpBinding" bindingConfiguration="Binding"   contract="SoftvWCFService.Contracts.IRole" />
        <endpoint address="Permiso" behaviorConfiguration="web" binding="webHttpBinding" bindingConfiguration="Binding" contract="SoftvWCFService.Contracts.IPermiso" />
        <endpoint address="TipoUsuario" behaviorConfiguration="web" binding="webHttpBinding" bindingConfiguration="Binding" contract="SoftvWCFService.Contracts.ITipoUsuario" />
        <endpoint address="UsuarioSystem" behaviorConfiguration="web" binding="webHttpBinding" bindingConfiguration="Binding" contract="SoftvWCFService.Contracts.IUsuarioSystem" />

        <endpoint address="TipoContacto" behaviorConfiguration="web" binding="webHttpBinding" bindingConfiguration="Binding" contract="SoftvWCFService.Contracts.ITipoContacto" />
        <endpoint address="SequenceId" behaviorConfiguration="web" binding="webHttpBinding" bindingConfiguration="Binding" contract="SoftvWCFService.Contracts.ISequenceId" />
        <endpoint address="sp_dameContratoCompaniaAdic" behaviorConfiguration="web" binding="webHttpBinding" bindingConfiguration="Binding" contract="SoftvWCFService.Contracts.Isp_dameContratoCompaniaAdic" />
        <endpoint address="CobraSaldo" behaviorConfiguration="web" binding="webHttpBinding" bindingConfiguration="Binding" contract="SoftvWCFService.Contracts.ICobraSaldo" />
        <endpoint address="ConRelClienteObs" behaviorConfiguration="web" binding="webHttpBinding" bindingConfiguration="Binding" contract="SoftvWCFService.Contracts.IConRelClienteObs" />
        <endpoint address="ContratoMaestroFac" behaviorConfiguration="web" binding="webHttpBinding" bindingConfiguration="Binding" contract="SoftvWCFService.Contracts.IContratoMaestroFac" />
        <endpoint address="DameClv_Session" behaviorConfiguration="web" binding="webHttpBinding" bindingConfiguration="Binding" contract="SoftvWCFService.Contracts.IDameClv_Session" />
        <endpoint address="ObtieneEdoCuentaSinSaldar" behaviorConfiguration="web"  binding="webHttpBinding" bindingConfiguration="Binding" contract="SoftvWCFService.Contracts.IObtieneEdoCuentaSinSaldar" />
        <endpoint address="uspHaz_Pregunta" behaviorConfiguration="web" binding="webHttpBinding" bindingConfiguration="Binding" contract="SoftvWCFService.Contracts.IuspHaz_Pregunta" />
        <endpoint address="ValidaSaldoContrato" behaviorConfiguration="web" binding="webHttpBinding" bindingConfiguration="Binding" contract="SoftvWCFService.Contracts.IValidaSaldoContrato" />
        <endpoint address="ChecaOrdenRetiro" behaviorConfiguration="web"  binding="webHttpBinding" bindingConfiguration="Binding" contract="SoftvWCFService.Contracts.IChecaOrdenRetiro" />
        <endpoint address="DameSerDelCliFac" behaviorConfiguration="web"  binding="webHttpBinding" bindingConfiguration="Binding" contract="SoftvWCFService.Contracts.IDameSerDelCliFac" />
        <endpoint address="DameTiposClientes" behaviorConfiguration="web" binding="webHttpBinding" bindingConfiguration="Binding" contract="SoftvWCFService.Contracts.IDameTiposClientes" />
        <endpoint address="InformacionClientePeriodos" behaviorConfiguration="web"  binding="webHttpBinding" bindingConfiguration="Binding" contract="SoftvWCFService.Contracts.IInformacionClientePeriodos" />
        <endpoint address="Ecom_PagoEnLinea" behaviorConfiguration="web"  binding="webHttpBinding" bindingConfiguration="Binding" contract="SoftvWCFService.Contracts.IEcom_PagoEnLinea" />
        <endpoint address ="ValidaHistorialContrato"  behaviorConfiguration="web" binding="webHttpBinding" bindingConfiguration="Binding"  contract="SoftvWCFService.Contracts.IValidaHistorialContrato"/>
        <endpoint address="Adelantar"  behaviorConfiguration="web" binding="webHttpBinding" bindingConfiguration="Binding" contract="SoftvWCFService.Contracts.IAdelantar" />
        <endpoint address="PagoAdelantado"  behaviorConfiguration="web" binding="webHttpBinding" bindingConfiguration="Binding" contract="SoftvWCFService.Contracts.IPagoAdelantado"/>
        <endpoint address="DameRelSucursalCompa"  behaviorConfiguration="web" binding="webHttpBinding" bindingConfiguration="Binding" contract="SoftvWCFService.Contracts.IDameRelSucursalCompa"/>
        <endpoint address="SumaTotalDetalle"  behaviorConfiguration="web" binding="webHttpBinding" bindingConfiguration="Binding" contract="SoftvWCFService.Contracts.ISumaTotalDetalle" />
        <endpoint address="MuestraBancos"  behaviorConfiguration="web" binding="webHttpBinding" bindingConfiguration="Binding" contract="SoftvWCFService.Contracts.IMuestraBancos" />
        <endpoint address="SeguridadToken"  behaviorConfiguration="web" binding="webHttpBinding" bindingConfiguration="Binding"  contract="SoftvWCFService.Contracts.ISeguridadToken" />
        <endpoint address="GrabaFacturas2"  behaviorConfiguration="web" binding="webHttpBinding" bindingConfiguration="Binding" contract="SoftvWCFService.Contracts.IGrabaFacturas2" />
        <endpoint address ="Banamex"  behaviorConfiguration="web" binding="webHttpBinding" bindingConfiguration="Binding" contract="SoftvWCFService.Contracts.IBanamex" />
        <endpoint address ="freeAuth"  behaviorConfiguration="web" binding="webHttpBinding" bindingConfiguration="Binding" contract="SoftvWCFService.Contracts.IfreeAuth" />
        <!--<endpoint address ="freeAuth" binding="webHttpBinding" contract="SoftvWCFService.Contracts.IfreeAuth" bindingConfiguration="CustomBinding"  behaviorConfiguration="web"/>-->
      <!--<endpoint address ="freeAuth" binding="webHttpBinding" contract="SoftvWCFService.Contracts.IfreeAuth" behaviorConfiguration="CustomBinding"/>-->

      </service>
    </services>
    
    <!--<bindings>
      <webHttpBinding>
        <binding name="CustomBinding">
          <security mode="None">
            <transport clientCredentialType="None"/>
            -->
    <!--<message establishSecurityContext="false" />-->
    <!--
          </security>
        </binding>
      </webHttpBinding>
    </bindings>-->

    <bindings>
      <webHttpBinding>
        <binding name="Binding" crossDomainScriptAccessEnabled="true">
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" />
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <!--<bindings>
      <webHttpBinding>
        <binding name = "CustomBinding">
          <security mode="None">
            <transport clientCredentialType = "None"
             proxyCredentialType="None"
             realm="string" />
          </security>
        </binding>
      </webHttpBinding>
    </bindings>-->


    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehaviour">
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
      
    </behaviors>


    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>

    <!--<httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>-->
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>